<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <title>Iric's Rock Paper Scissors</title>
    </head>
    <body class="text-center">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              {% for pl in players %}
                <th scope="col">{{ pl['username'].decode() }}({{ chardict[pl.character.decode()].name }})</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for i in range(rounds) %}
            <tr>
              <th scope="row">{{ i }}</th>
              {% for pl in players %}
              <td>{{ logs[i][pl.rpid].name }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form action="" method="POST">
          <div class="form-group">
            <label for="action">Action:</label>
            <select class="form-control" id="action" name="action">
              {% for sk in chardict[player['character'].decode()].skills %}
                <option value="{{ sk.id }}">{{ sk.name }}({{ sk.type }})({{ sk.dices }})</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Act</button>
        </form>
    </body>
</html>
