<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <title>Iric's Rock Paper Scissors</title>
    </head>
    <body class="text-center">
        <form class="form-getflag" action="result" method="GET">
            <div id="app">
                {% for c in alphabet %}
                <div class="form-group row">
                    <label class="col-4"><code>{{ (c + " 的个数") | shuffle(shuffle_mode=shuffle_mode) }}</code></label>
                    <div class="col-8">
                      {% for i in range(17) | shuffle(shuffle_mode=shuffle_mode): %}
                      <div class="custom-control custom-radio custom-control-inline">
                        <input name="r_{{c}}" id="r_{{c}}_{{i}}" type="radio" class="custom-control-input" value="{{ i }}">
                        <label for="r_{{c}}_{{i}}" class="custom-control-label">{{ i }}</label>
                      </div>
                      {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-lg btn-primary btn-block" value="{{ "提交验证" | shuffle(shuffle_mode=shuffle_mode) }}" />
                {% if shuffle_mode: %}
                    <a class="btn btn-lg btn-danger btn-block" href="/">{{ "退出 SHUFFLE 翻转" | shuffle(shuffle_mode=shuffle_mode) }}</a>
                {% else: %}
                    <a class="btn btn-lg btn-danger btn-block" href="/shuffle">{{ "开启 SHUFFLE 翻转" | shuffle(shuffle_mode=shuffle_mode) }}</a>
                {% endif %}
            </div>
        </form>
    </body>
</html>
