<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
        <title>Iric's Rock Paper Scissors</title>
        <script>
        function doRefresh() {
          $("#logs").load("/logs/{{ linkid }}");
          setTimeout(function() {
            doRefresh();
          }, 2000);
        }

        $(document).ready(function () {
          doRefresh();
        });
        </script>
    </head>
    <body class="text-center">
        <div id='logs'>
        </div>
        <form action="" method="POST">
          <div class="form-group">
            <label for="action">Action:</label>
            <select class="form-control" id="action" name="action">
              <optgroup label="LOCK">
              {% for sk in chardict[player['character'].decode()].skills if sk.type == 'lock' %}
                <option value="{{ sk.id }}">{{ sk.name }}({{ sk.dices }})</option>
              {% endfor %}
              </optgroup>
              <optgroup label="UNLOCK">
              {% for sk in chardict[player['character'].decode()].skills if sk.type == 'unlock' %}
                <option value="{{ sk.id }}">{{ sk.name }}({{ sk.dices }})</option>
              {% endfor %}
              </optgroup>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Act</button>
        </form>
    </body>
</html>
